//colors
$white-background: #ffffff;
$hint-text-color: #313e5d;
$violet: #7f35fe;
$dark-blue-primary: #313e5d;
$grey: #a6b0c9;
$hr-line-color: #dee3ea;
$pie-yellow: #ffec6f;
$pie-pink: #ff8bdb;
$pie-blue: #4df3f4;
$border-grey: rgba(49, 62, 93, 0.15);

//sizes
$hint-text-size: 14px;

//transition
$smooth: 0.5s;

//screen size breakpoints
$mobile: 450px;
$desktopHD: 1440px;
$FHDdesktop: 1920px;
