@import "./mixins";
@import "./variables";

.notes {
  padding: 3% 5% !important;
  color: $dark-blue-primary;
  h2 {
    font-family: Lato-light;
  }
  .section-title {
    margin-top: 6%;
    margin-bottom: 0;
  }
  .flex {
    section {
      display: inline-grid;
      width: 30%;
      margin: 0 1% 0 0;
      .filter-title {
        font-size: large;
      }
      select {
        @include Select();
      }
    }
  }
  .table {
    border: 0.5px solid $border-grey;
    margin-top: 2%;
    border-radius: 30px;
    .table-header {
      display: flex;
      justify-content: space-around;
      p {
        color: $grey;
        font-family: Lato-bold;
        text-align: center;
      }
    }
    .small {
      width: 14%;
    }
    .medium {
      width: 15%;
    }
    .large {
      width: 20%;
    }
    .xlarge {
      width: 21%;
    }
    .note-item {
      justify-content: space-around;
      border-top: 0.5px solid $border-grey;
      padding: 3% 0;
      p {
        text-align: center;
        margin: auto 0;
        color: $dark-blue-primary;
      }
      .edit-btn {
        border: none;
        background-color: transparent;
        color: $violet;
        cursor: pointer;
      }
      .checkbox {
        display: block;
        margin-bottom: 15px;
        input {
          padding: 0;
          height: initial;
          width: initial;
          margin-bottom: 0;
          display: none;
          cursor: pointer;
        }
        label {
          position: relative;
          cursor: pointer;
        }
        label:before {
          content: "";
          -webkit-appearance: none;
          background-color: transparent;
          border: 2px solid $violet;
          border-radius: 5px;
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
            inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
          padding: 10px;
          display: inline-block;
          position: relative;
          vertical-align: middle;
          cursor: pointer;
          margin-right: 5px;
        }
        input:checked {
          content: "";
          display: block;
          position: absolute;
          top: 2px;
          left: 9px;
          width: 6px;
          height: 14px;
          border: solid $violet;
          border-width: 0 2px 2px 0;
          transform: rotate(45deg);
          &label:after {
            content: "";
            display: block;
            position: absolute;
            top: 2px;
            left: 9px;
            width: 6px;
            height: 14px;
            border: solid $violet;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
          }
        }
      }
    }
  }
}
